<?xml version="1.0" encoding="utf-8"?>
<advancedsettings>
    <loglevel>0</loglevel>
    <packagefoldersize>300</packagefoldersize>

    <videolibrary>
        <importwatchedstate>true</importwatchedstate>
    </videolibrary>

    <network>
        <cachemembuffersize>209715200</cachemembuffersize>
        <readbufferfactor>10</readbufferfactor>
    </network>
</advancedsettings>
