<?xml version="1.0" encoding="utf-8"?>
<advancedsettings>
    <packagefoldersize>300</packagefoldersize>

    <videolibrary>
        <importwatchedstate>true</importwatchedstate>
    </videolibrary>

    <network>
        <cachemembuffersize>209715200</cachemembuffersize>
        <readbufferfactor>10</readbufferfactor>
    </network>

    <services>
        <webserver>{% if kodi_webserver_enable %}true{% else %}false{% endif %}</webserver>
        <webserverusername>{{ kodi_webserver_user }}</webserverusername>
        <webserverpassword>{{ kodi_webserver_password }}</webserverpassword>
        <webserverport>{{ kodi_webserver_port }}</webserverport>
    </services>

    {% if kodi_custom_config -%}
        {{ kodi_custom_config|indent(4) }}
    {% endif %}

</advancedsettings>
